In [9]:
import pandas as pd

In [8]:
df=pd.read_csv('example1.csv',na_values=" ")
df

    total_bill   tip     sex smoker  day    time  size
0        16.99  1.01  Female     No  Sun  Dinner     2
1          NaN  1.66    Male     No  Sun  Dinner     3
2          NaN  3.50    Male     No  Sun  Dinner     3
3        23.68  3.31    Male     No  Sun  Dinner     2
4          NaN  3.61  Female     No  Sun  Dinner     4
5        25.29  4.71    Male     No  Sun  Dinner     4
6         8.77  2.00    Male     No  Sun  Dinner     2
7        26.88  3.12    Male     No  Sun  Dinner     4
8        15.04  1.96    Male     No  Sun  Dinner     2
9        14.78  3.23    Male     No  Sun  Dinner     2
10         NaN  1.71    Male     No  Sun  Dinner     2
11       35.26  5.00  Female     No  Sun  Dinner     4

In [15]:
x=5
y=10
x = x ^ y
y= x ^ y
x = x ^ y
print ("X=%d, Y=%d"%(x,y))

X=10, Y=5

In [16]:
print(~4)

-5

In [25]:
import random 
randomlist=random.sample(range(10,30),6)
randomlist

[18, 29, 14, 26, 15, 13]

In [24]:
randomlist=random.sample(range(1,3),2)
randomlist

[2, 1]

In [28]:
import numpy
rand=numpy.random.uniform(75.5,125.5,2)
list(rand)
rand

array([ 90.66781353, 115.81680088])

In [29]:
numbers=[]
def whu(i,x,y):
    while i<x:
        print(f'At the top i is {i}')
        numbers.append(i)
        i=i+y
        print('numbers now: ',numbers)
        print(f"at the bottom i is {i}")
    print("the numbers: ")
    for num in numbers:
        print(num)
whu(0,6,1)

At the top i is 0
numbers now:  [0]
at the bottom i is 1
At the top i is 1
numbers now:  [0, 1]
at the bottom i is 2
At the top i is 2
numbers now:  [0, 1, 2]
at the bottom i is 3
At the top i is 3
numbers now:  [0, 1, 2, 3]
at the bottom i is 4
At the top i is 4
numbers now:  [0, 1, 2, 3, 4]
at the bottom i is 5
At the top i is 5
numbers now:  [0, 1, 2, 3, 4, 5]
at the bottom i is 6
the numbers:
0
1
2
3
4
5

In [38]:
from random import seed
from random import randint
seed(2)
for _ in range(10):
    value=randint(0,10)
    print(value)

0
1
1
5
2
10
4
4
9
3

In [43]:
with open('hi.doc','r') as f:
    a=f.read()
    b=f.read()
    print(b)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xd0 in position 0: invalid continuation byte

In [58]:
s1="ault"
s2="kelly"

mi=int(len(s1)/2)
print(s1,s2)
middle=s1[:mi]+s2+s1[mi:]
print(middle)

ault kelly
aukellylt

In [59]:
import json
from json import JSONEncoder
class vehicle:
    def __init__(self,name,engine,price):
        self.name=name
        self.engine=engine
        self.price=price
class veh(JSONEncoder):
    def default(self,o):
        return o.__dict__
    
vehic=vehicle("toyota","2.5l",3200)
print("enocode vehicle object to json")
vehiJson=json.dumps(vehic,indent=4,cls=veh)
print(vehiJson)

enocode vehicle object to json
{
    "name": "toyota",
    "engine": "2.5l",
    "price": 3200
}

In [61]:
print('bwebfuwn{0!r}'.format('foo'))

bwebfuwn'foo'

In [62]:
print(format("Welcome", "10s"), end = '#')
print(format(111, "4d"), end = '#')
print(format(924.656, "3.2f"))

Welcome   # 111#924.66

In [64]:
s="\t\tWorld\n".strip()
print(s)

World

In [70]:
print("ab\tcd\tef".expandtabs(4))

ab  cd  ef

In [68]:
print("xyyzxyzxzxyy".count('yy', 1))

2

In [74]:
print("{:,}".format(1112223334))

1,112,223,334

In [76]:
a=10
b=20
def change():
    global b
    a=45
    b=56
change()
print(a)
print(b)

10
56

In [77]:
x = 50
def func(x):
    print('x is', x)
    x = 2
    print('Changed local x to', x)
func(x)
print('x is now', x)

x is 50
Changed local x to 2
x is now 50

In [81]:
def sum(*args):
    r = 0
    for i in args:
        r += i
    return r
print(sum.__doc__)
print(sum(1, 2, 3))
print(sum(1, 2, 3, 4, 5))

None
6
15

In [83]:
print(type(globals()))

<class 'dict'>

In [86]:
a=10
globals()['a']=25
print(a)

25

In [3]:
print(4%17)

4

In [8]:
n=9
first = 0
second = 1
res=0

for i in range(2,n+1):
    res = (first + second) % 10
    first = second
    second = res

print(res)

4