In [1]:
var = list()
print(type(var))

<class 'list'>

In [3]:
var = ["dhoni","kohli"]
var[1] = "rohit"
print(var)

['dhoni', 'rohit']

In [4]:
var = ["dhoni"]
var1 = ["kohli"]
print(var+var1)

['dhoni', 'kohli']

In [5]:
var = ["dhoni","kohli"]
var.insert(5,"rohit")
var

['dhoni', 'kohli', 'rohit']

In [6]:
var = ["dhoni","kohli"]
var.append("rohit")
var

['dhoni', 'kohli', 'rohit']

In [7]:
import collections

In [8]:
# Python code to demonstrate working of
# append(), appendleft()
	

from collections import deque
	
# initializing deque
de = deque([1,2,3])
	
# using append() to insert element at right end
# inserts 4 at the end of deque
de.append(4)
	
# printing modified deque
print ("The deque after appending at right is : ")
print (de)
	
# using appendleft() to insert element at right end
# inserts 6 at the beginning of deque
de.appendleft(6)
	
# printing modified deque
print ("The deque after appending at left is : ")
print (de)

The deque after appending at right is :
deque([1, 2, 3, 4])
The deque after appending at left is :
deque([6, 1, 2, 3, 4])

In [9]:
# Python code to demonstrate working of
# pop(), and popleft()

from collections import deque

# initializing deque
de = deque([6, 1, 2, 3, 4])

# using pop() to delete element from right end
# deletes 4 from the right end of deque
de.pop()
	
# printing modified deque
print ("The deque after deleting from right is : ")
print (de)
	
# using popleft() to delete element from left end
# deletes 6 from the left end of deque
de.popleft()
	
# printing modified deque
print ("The deque after deleting from left is : ")
print (de)

The deque after deleting from right is :
deque([6, 1, 2, 3])
The deque after deleting from left is :
deque([1, 2, 3])

In [10]:
var = ["dhoni","kohli","3","4","9","aswin","aswin","arun"]
output = sorted(var, reverse = True, key = len)
print(output)

['dhoni', 'kohli', 'aswin', 'aswin', 'arun', '3', '4', '9']

In [23]:
var = ["dhoni","kohli",3,4,9,"aswin","basket","elsia"]
var_copy = var[:]

In [24]:
var_num = []

for val in var:
    if str(val).isnumeric():
        var_num.append(val)
        var_copy.remove(val)

var_copy

['dhoni', 'kohli', 'aswin', 'basket', 'elsia']

In [25]:
var_num

[3, 4, 9]

In [26]:
output = sorted(var_copy, reverse = True)
output_num = sorted(var_num,reverse = True)
var1 = list()


for val in output:   
  
    st = val[::-1]
    var1.append(st)

var1

['ilhok', 'aisle', 'inohd', 'teksab', 'niwsa']

In [29]:
output_num + var1

[9, 4, 3, 'ilhok', 'aisle', 'inohd', 'teksab', 'niwsa']

In [32]:
var = ["dhoni","kohli",3,4,9,"aswin","basket","elsia",("a","b")]
var = sorted([i for i in var if type(i)==int]) + sorted([ val[::-1] for val in var if type(val)==str])
var

[3, 4, 9, 'aisle', 'ilhok', 'inohd', 'niwsa', 'teksab']

In [33]:
import sys

In [34]:
var = ("dhoni","kohli")
print(var)
print(type(var))
print(sys.getsizeof(var))

('dhoni', 'kohli')
<class 'tuple'>
56

In [35]:
var  = ["dhoni","kohli"]
print(var)
print(type(var))
print(sys.getsizeof(var))

['dhoni', 'kohli']
<class 'list'>
72

In [40]:
data = {'status': 'OK', 'results': [{'address_components': [{'long_name': 'Rajpath', 'types': ['route'], 
'short_name': 'Rajpath'}, {'long_name': 'India Gate', 'types': ['political', 'sublocality', 
'sublocality_level_1'], 'short_name': 'India Gate'}, {'long_name': 'New Delhi', 'types': 
['locality', 'political'], 'short_name': 'New Delhi'}, {'long_name': 'New Delhi', 
'types': ['administrative_area_level_2', 'political'], 'short_name': 'New Delhi'}, {'long_name': 
'Delhi', 'types': ['administrative_area_level_1', 'political'], 'short_name': 'DL'}, {'long_name': 
'India', 'types': ['country', 'political'], 'short_name': 'IN'}, {'long_name': '110001', 'types': 
['postal_code'], 'short_name': '110001'}], 'geometry': {'location': {'lng': 77.2295097, 'lat': 28.612912}, 
'viewport': {'northeast': {'lng': 77.2308586802915, 'lat': 28.6142609802915}, 'southwest': {'lng': 
77.22816071970848, 'lat': 28.6115630197085}}, 'location_type': 'APPROXIMATE'}, 'types': 
['establishment', 'point_of_interest'], 'formatted_address': 'Rajpath, India Gate, New Delhi, Delhi 110001,India', 'place_id': 'ChIJC03rqdriDDkRXT6SJRGXFwc'}]}

# printing json response
print(data)

{'status': 'OK', 'results': [{'address_components': [{'long_name': 'Rajpath', 'types': ['route'], 'short_name': 'Rajpath'}, {'long_name': 'India Gate', 'types': ['political', 'sublocality', 'sublocality_level_1'], 'short_name': 'India Gate'}, {'long_name': 'New Delhi', 'types': ['locality', 'political'], 'short_name': 'New Delhi'}, {'long_name': 'New Delhi', 'types': ['administrative_area_level_2', 'political'], 'short_name': 'New Delhi'}, {'long_name': 'Delhi', 'types': ['administrative_area_level_1', 'political'], 'short_name': 'DL'}, {'long_name': 'India', 'types': ['country', 'political'], 'short_name': 'IN'}, {'long_name': '110001', 'types': ['postal_code'], 'short_name': '110001'}], 'geometry': {'location': {'lng': 77.2295097, 'lat': 28.612912}, 'viewport': {'northeast': {'lng': 77.2308586802915, 'lat': 28.6142609802915}, 'southwest': {'lng': 77.22816071970848, 'lat': 28.6115630197085}}, 'location_type': 'APPROXIMATE'}, 'types': ['establishment', 'point_of_interest'], 'formatted_address': 'Rajpath, India Gate, New Delhi, Delhi 110001,India', 'place_id': 'ChIJC03rqdriDDkRXT6SJRGXFwc'}]}

In [41]:
from pprint import pprint

In [42]:
pprint(data)

{'results': [{'address_components': [{'long_name': 'Rajpath',
                                      'short_name': 'Rajpath',
                                      'types': ['route']},
                                     {'long_name': 'India Gate',
                                      'short_name': 'India Gate',
                                      'types': ['political',
                                                'sublocality',
                                                'sublocality_level_1']},
                                     {'long_name': 'New Delhi',
                                      'short_name': 'New Delhi',
                                      'types': ['locality', 'political']},
                                     {'long_name': 'New Delhi',
                                      'short_name': 'New Delhi',
                                      'types': ['administrative_area_level_2',
                                                'political']},
                                     {'long_name': 'Delhi',
                                      'short_name': 'DL',
                                      'types': ['administrative_area_level_1',
                                                'political']},
                                     {'long_name': 'India',
                                      'short_name': 'IN',
                                      'types': ['country', 'political']},
                                     {'long_name': '110001',
                                      'short_name': '110001',
                                      'types': ['postal_code']}],
              'formatted_address': 'Rajpath, India Gate, New Delhi, Delhi '
                                   '110001,India',
              'geometry': {'location': {'lat': 28.612912, 'lng': 77.2295097},
                           'location_type': 'APPROXIMATE',
                           'viewport': {'northeast': {'lat': 28.6142609802915,
                                                      'lng': 77.2308586802915},
                                        'southwest': {'lat': 28.6115630197085,
                                                      'lng': 77.22816071970848}}},
              'place_id': 'ChIJC03rqdriDDkRXT6SJRGXFwc',
              'types': ['establishment', 'point_of_interest']}],
 'status': 'OK'}

In [43]:
# Python program to print
# red text with green background

from colorama import Fore, Back, Style
print(Fore.RED + 'some red text')
print(Back.GREEN + 'and with a green background')
print(Style.DIM + 'and in dim text')
print(Style.RESET_ALL)
print('back to normal now')

some red text
and with a green background
and in dim text

back to normal now

In [44]:
# empty dictionary
my_dict = {}

# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}

# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}

# using dict()
my_dict = dict({1:'apple', 2:'ball'})

# from sequence having each item as a pair
my_dict = dict([(1,'apple'), (2,'ball')])

In [45]:
# get vs [] for retrieving elements
my_dict = {'name': 'Jack', 'age': 26}

# Output: Jack
print(my_dict['name'])

# Output: 26
print(my_dict.get('age'))

# Trying to access keys which doesn't exist throws error
# Output None
print(my_dict.get('address'))

# KeyError
print(my_dict['address'])

Jack
26
None

KeyError: 'address'

In [46]:
# Changing and adding Dictionary Elements
my_dict = {'name': 'Jack', 'age': 26}

# update value
my_dict['age'] = 27

#Output: {'age': 27, 'name': 'Jack'}
print(my_dict)

# add item
my_dict['address'] = 'Downtown'

# Output: {'address': 'Downtown', 'age': 27, 'name': 'Jack'}
print(my_dict)

{'name': 'Jack', 'age': 27}
{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [47]:
# Removing elements from a dictionary

# create a dictionary
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# remove a particular item, returns its value
# Output: 16
print(squares.pop(4))

# Output: {1: 1, 2: 4, 3: 9, 5: 25}
print(squares)

# remove an arbitrary item, return (key,value)
# Output: (5, 25)
print(squares.popitem())

# Output: {1: 1, 2: 4, 3: 9}
print(squares)

# remove all items
squares.clear()

# Output: {}
print(squares)

# delete the dictionary itself
del squares

# Throws Error
print(squares)

16
{1: 1, 2: 4, 3: 9, 5: 25}
(5, 25)
{1: 1, 2: 4, 3: 9}
{}

NameError: name 'squares' is not defined

In [48]:
# Dictionary Methods
marks = {}.fromkeys(['Math', 'English', 'Science'], 0)

# Output: {'English': 0, 'Math': 0, 'Science': 0}
print(marks)

for item in marks.items():
    print(item)

# Output: ['English', 'Math', 'Science']
print(list(sorted(marks.keys())))

{'Math': 0, 'English': 0, 'Science': 0}
('Math', 0)
('English', 0)
('Science', 0)
['English', 'Math', 'Science']

In [49]:
# Dictionary Comprehension
squares = {x: x*x for x in range(6)}

print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [50]:
squares = {}
for x in range(6):
    squares[x] = x*x
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [51]:
# Dictionary Comprehension with if conditional
odd_squares = {x: x*x for x in range(11) if x % 2 == 1}

print(odd_squares)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [52]:
# Membership Test for Dictionary Keys
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

# Output: True
print(1 in squares)

# Output: True
print(2 not in squares)

# membership tests for key only not value
# Output: False
print(49 in squares)

True
True
False

In [53]:
# Iterating through a Dictionary
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
for i in squares:
    print(squares[i])

1
9
25
49
81

In [54]:
# Dictionary Built-in Functions
squares = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

# Output: False
print(all(squares))

# Output: True
print(any(squares))

# Output: 6
print(len(squares))

# Output: [0, 1, 3, 5, 7, 9]
print(sorted(squares))

False
True
6
[0, 1, 3, 5, 7, 9]

In [56]:
var = [1,"a",2,"b",3,"c"]
var_iter = iter(var)
print(var_iter)

<list_iterator object at 0x000001D11122F0A0>

In [57]:
var_zip = dict(zip(var_iter,var_iter))
print(var_zip)

{1: 'a', 2: 'b', 3: 'c'}

In [66]:
var = [1,"a",2,"b",3,"c"]
var_iter = iter(var)
var_iter

In [67]:
var_zip = dict(zip(var_iter,var_iter))
print(var_zip)

{1: 'a', 2: 'b', 3: 'c'}

In [68]:
import sqlite3

In [69]:
def My_DB_Execution():
    connection = sqlite3.connect("python.db")
    query = """ create table Student1 ("name" text, "age" int)"""
    execution = connection.execute(query)
    connection.commit()
    connection.close()
My_DB_Execution()

In [70]:
def My_DB_Execution(table_name,db):#function with argument
    connection = sqlite3.connect(db)
    query = f""" create table {table_name} ("name" text, "age" int)"""
    execution = connection.execute(query)
    connection.commit()
    connection.close()
My_DB_Execution("sports","testing.db")

In [72]:
def My_DB_Execution(table_name,db = "testing.db"):#function with  default argument
    connection = sqlite3.connect(db)
    query = f""" create table {table_name} ("name" text, "age" int)"""
    execution = connection.execute(query)
    connection.commit()
    connection.close()
My_DB_Execution("teacher","testing.db")

In [76]:
def fun(**d):
    print(d)
fun(val=6,string="pankaj")

{'val': 6, 'string': 'pankaj'}

In [81]:
def fun(val,*d):
    print(d)
fun(6,[1,2,3,4])

([1, 2, 3, 4],)

In [93]:
def My_DB_Execution(table_name,db = "testing.db",*column_names):#function with  default argument
    
    table_str = ""
    for val in column_names:
        table_str += val[0] +  " "  + val[1] + ", "
    
    table_str = table_str[:-2]
    
    print(table_str)
    connection = sqlite3.connect(db)
    query = f""" create table {table_name} ({table_str})"""
    print(query)
    execution = connection.execute(query)
    connection.commit()
    connection.close()
    
My_DB_Execution("student","testing.db",("id","int"),("age","int"),("name","text"))

id int, age int, name text
 create table student (id int, age int, name text)

In [ ]:
def My_DB_Execution(table_name,db = "testing.db"):#function with  default argument
    
  
    connection = sqlite3.connect(db)
    #query = f""" create table {table_name} ({table_str})"""
    query = f""" select * from {table_name}"""
    print(query)
    execution = connection.execute(query)
    for i in execution:
        print(i)
    connection.commit()
    connection.close()
    
My_DB_Execution("student","testing.db")

In [98]:
def My_DB_Execution(table_name,db = "testing.db"):#function with  default argument
    
  
    connection = sqlite3.connect(db)
    #query = f""" create table {table_name} ({table_str})"""
    query = f""" select * from {table_name}"""
    print(query)
    execution = connection.execute(query)
    for i in execution:
        print(i)
    connection.commit()
    connection.close()
    
My_DB_Execution("student","testing.db")

 select * from student

In [131]:
def My_DB_Execution(table_name,db = "testing.db",*column_names):#function with  default argument
    
    table_str = ""
    for val in column_names:
        col, data = val.split(" ")
        table_str += col +  " "  + data + ", "
    
    table_str = table_str[:-2]
    
    print(table_str)
    
    try :
        connection = sqlite3.connect(db)
        query = f""" create table {table_name} ({table_str})"""
        print(query)
        execution = connection.execute(query)
    
    except Exception as ex:
        print(ex)
    finally:
        
        connection.commit()
        connection.close()
    
My_DB_Execution("family","testing.db","name text" , "age int")

name text, age int
 create table family (name text, age int)

In [100]:
try:
    var = 10/0
    print(var)
except:
    print("sorry babu")

sorry babu

In [102]:
try:
    var = 10/0
    print(var)
except TypeError as ex:
    print(ex)
except ZeroDivisionError as ex:
    print(ex)
    print("ruko jara sabar karo")
except:
    print("sorry babu")

division by zero
ruko jara sabar karo

In [103]:
try:
    var = 10/0
    print(var)
except (TypeError,ZeroDivisionError) as ex:
    print(ex)

except:
    print("sorry babu")

division by zero

In [104]:
try:
    var = 10/0
    print(var)
except Exception as ex:
    print(ex)

except:
    print("sorry babu")

division by zero

In [105]:
try:
    var = 10/0
    print(var)
except Exception as ex:
    print(ex)

except:
    print("sorry babu")

else:
    print("else")
finally:
    print("welcome")

division by zero
welcome

In [18]:
def My_DB_Execution(table_name,db = "testing.db"):
      
    try :
        connection= ""
        connection = sqlite3.connect(db)
        query = f""" insert into {table_name} values("pankaj",22)"""
        query1 = f""" insert into {table_name} values("rohit",23)"""
        query2 = f""" insert into {table_name} values("aman", 20)"""
        execution = connection.execute(query)
        execution = connection.execute(query1)
        execution = connection.execute(query2)
    
    except Exception as ex:
        print(ex)
    finally:
        if connection != "":
                
            connection.commit()
            connection.close()
    
My_DB_Execution("contact","testing.db")

In [14]:
def My_DB_Execution(table_name,db = "testing.db"):
      
    try :
        connection= ""
        connection = sqlite3.connect(db,timeout=10)
        query = f"""select * from {table_name}"""
        execution = connection.execute(query)
        
        for val in execution:
            print(val)
    
    except Exception as ex:
        print(ex)
    finally:
        connection.commit()
        connection.close()
    
My_DB_Execution("contact","testing.db")

database is locked

In [112]:
try:
    var = 10
    if var>5:
        raise IndexError
except IndexError:
    print("sorry")

sorry

In [113]:
try:
    var = 10
    if var>5:
        raise IndexError("this is my exception")
except IndexError as ex:
    print(ex)

this is my exception

In [116]:
try:
    var = 10
    if var>5:
        raise MyError
except MyError:
    print("sorry")

NameError: name 'MyError' is not defined

In [119]:
class MyError(Exception):
    my_meaning = "user defined exception"
    
try:
    var = 10
    if var>5:
        raise MyError
except MyError as ex:
    print(ex.my_meaning)

user defined exception

In [16]:
import sqlite3

In [17]:
def My_DB_Execution(table_name,db = "testing.db"):

    connection = sqlite3.connect(db)
    query = f' insert into {table_name} values("pankaj",22);'
    print(query)
    execution = connection.execute(query)
    connection.commit()
    connection.close()
    
My_DB_Execution("family","testing.db")

 insert into family values("pankaj",22);

NameError: name 'connection' is not defined